

#slide-1 {
	background: rgba(220,36,36,1);
	background: -moz-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(220,36,36,1)), color-stop(100%, rgba(53,0,96,1)));
	background: -webkit-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
	background: linear-gradient(135deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2424', endColorstr='#350060', GradientType=1 );
}

#slide-2 {
	background: rgba(225, 207, 127, 1);
	background: -moz-linear-gradient(-45deg, rgba(225, 207, 127, 1) 0%, rgba(162, 47, 47, 1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(225, 207, 127, 1)), color-stop(100%, rgba(162, 47, 47, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(225, 207, 127, 1) 0%, rgba(162, 47, 47, 1) 100%);
	background: -o-linear-gradient(-45deg, rgba(225, 207, 127, 1) 0%, rgba(162, 47, 47, 1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(225, 207, 127, 1) 0%, rgba(162, 47, 47, 1) 100%);
	background: linear-gradient(135deg, rgba(225, 207, 127, 1) 0%, rgba(162, 47, 47, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1cf7f', endColorstr='#a22f2f', GradientType=1 );
}

#slide-3 {
	background: rgba(94, 118, 228, 1);
	background: -moz-linear-gradient(-45deg, rgba(94, 118, 228, 1) 0%, rgba(107, 179, 110, 1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(94, 118, 228, 1)), color-stop(100%, rgba(107, 179, 110, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(94, 118, 228, 1) 0%, rgba(107, 179, 110, 1) 100%);
	background: -o-linear-gradient(-45deg, rgba(94, 118, 228, 1) 0%, rgba(107, 179, 110, 1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(94, 118, 228, 1) 0%, rgba(107, 179, 110, 1) 100%);
	background: linear-gradient(135deg, rgba(94, 118, 228, 1) 0%, rgba(107, 179, 110, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e76e4', endColorstr='#6bb36e', GradientType=1 );
}

#slide-4 {
	background: rgba(107, 179, 110, 1);
	background: -moz-linear-gradient(-45deg, rgba(107, 179, 110, 1) 0%, rgba(214, 101, 56, 1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(107, 179, 110, 1)), color-stop(100%, rgba(214, 101, 56, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(107, 179, 110, 1) 0%, rgba(214, 101, 56, 1) 100%);
	background: -o-linear-gradient(-45deg, rgba(107, 179, 110, 1) 0%, rgba(214, 101, 56, 1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(107, 179, 110, 1) 0%, rgba(214, 101, 56, 1) 100%);
	background: linear-gradient(135deg, rgba(107, 179, 110, 1) 0%, rgba(214, 101, 56, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb36e', endColorstr='#d66538', GradientType=1 );
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.slide .col-md-8 {
	text-align: center;
	padding-top: 300px;
}

#slide-1 .col-md-4 {
	text-align: left;
	padding-top: 200px;
}

#slide-2 .col-md-4 {
	text-align: right;
	padding-top: 200px;
}

#slide-3 .col-md-4 {
	text-align: left;
	padding-top: 200px;
}

#slide-4 .col-md-4 {
	text-align: right;
	padding-top: 200px;
}


.slide h1 {
	font-size: 56px;
	padding-bottom: 5px;
}

.slide p {
	font-size: 24px;
	padding-bottom: 5px;
}
